{
    "singleQuote": true,
    "tabWidth": 4,
    "semi": true,
    "overrides": [
        {
            "files": "templates/**/*.html",
            "options": {
                "tabWidth": 4,
                "useTabs": false
            }
        }
    ]
}